* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #1fa2ff;
  color: #444;
  background: -webkit-linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}


h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

p {
  font-family: "Open Sans", "Nunito Sans", sans-serif;
  line-height: 150%;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.ghost-btn {
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  float: right;
  color: #555;
  font-size: 12px;
}

.bg-alternate {
  background: #f7f7f7;
  color: rgba(0, 0, 0, 0.6);
}

main {
  max-width: 1140px;
  width: 100%;
  min-height: 100vh;
  margin: 30px auto;
  background: #fff;
  box-shadow: 0 10px 48px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 10px;
  border-bottom: 1px solid #ddd;
}


.logo img {
  display: inline-block;
  width: 80px;
  margin-top: 5px;
}

header nav a {
  display: inline-block;
  margin-top: 8px;
  padding: 0 10px;
  color: #a6a6a6;
  font-weight: 200;
}

#intro {
  position: relative;
  padding: 140px 30px;
  text-align: center;
}


#intro h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 0;
}

#intro h1 img {
  width: 30px;
  margin-right: 15px;
}

#intro p {
  margin-top: 5px;
  font-size: 18px;
  color: #a3a3a3;
  font-weight: 200;
  margin-left: 49px;
}


.separator-gradient {
  position: absolute;
  bottom: 0;
  width: 110%;
  height: 1px;
  left: -20px;
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#about, #projects, #open-source, #contact {
  min-height: 100px;
  padding: 20px 30px;
}

#about, #projets {
  padding-bottom: 50px;
}

#about h2 img,
#projects h2 img,
#contact h2 img {
  width: 25px;
  margin-right: 15px;
}


#about .with-picture {
  display: flex;
  margin-left: 40px;
}

#about .with-picture img {
  height: 130px;
  filter: grayscale(80%);
  opacity: 0.8;
  margin-top: 10px;
}

#about .with-picture p {
  margin-left: 20px;
  padding: 0 40px 0 0;
}

#projects h2 img {
  margin-right: 10px;
}

#projects p,
#contact p {
  margin-top: 5px;
  margin-left: 45px;
  color: #a3a3a3;
}

.projects-grid {
  margin-top: 40px;
  margin-left: 43px;
}

.featured-project {
  display: flex;
}

.featured-project-desc {
  width: 30%;
}

.featured-project-desc {
  font-weight: 500;
  color: #666;
}

.featured-project-desc p {
  margin-left: 0 !important;
  font-weight: 200;
}

.other-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
}

.other-projects figure {
  display: inline-block;
  width: 32%;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.other-projects figure img {
  width: 100%;
  opacity: 0.3;
}

.other-projects figure img:hover {
  transition: opacity .5s linear;
  opacity: 1;
  cursor: pointer;
}


.browser-mockup {
  width: 60%;
  border-top: 1.5em solid rgba(230, 230, 230, 0.9);
  position: relative;
  border-radius: 3px 3px 0 0;
  margin-right: 60px;
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.25);
}

.browser-mockup img {
  max-width: 100%;
}

.browser-mockup:before { 
  display: block;
  position: absolute;
  content: '';
  top: -1.00em;
  left: .75em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup.with-tab:after {
  display: block;
  position: absolute;
  content: '';
  top: -2em;
  left: 5.5em;
  width: 15%;
  height: 0em;
  border-bottom: 2em solid white;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
  overflow: hidden;
}

#contact {
  overflow: hidden;
  clear: both;
}

#contact h2 img {
  margin-right: 10px;
}

.contact-form, .contact-social {
  width: 55%;
  margin-left: 45px;
  float: left;
}


.contact-form input, button, textarea {
  display: block;
  outline: none;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  font-size: 14px;
}

.contact-form textarea {
  height: 180px;
  resize: none;
}

.contact-form button {
  width: 30%;
  float: right;
  cursor: pointer;
  font-weight: 800;
  text-transform: uppercase;
  color: #666;
  box-shadow: 0 5px 36px rgba(0, 0, 0, 0.25);
}

.contact-social {
  float: right;
  width: 39%;
  margin-left: 0;
}

.contact-social-item {
  background: #fff;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin: 10px;
  box-shadow: 0 5px 36px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  overflow: hidden;
}

.contact-social-item:hover > img {
  margin-left: 10px;
  transition: all .2s linear;
}

.contact-social-item img {
  max-width: 30px;
  margin-right: 15px;
  margin-left: 10px;
}

.linkedin, .twitter, .github {
  width: 10px;
  min-height: 100%;
  background: #0077B5;
  color: #fff;
  transform: translate(-8px);
}

.twitter {
  background: #1DA1F2;
}

.github {
  background: #24292E;
}

.contact-social-item:hover .linkedin,
.contact-social-item:hover .twitter,
.contact-social-item:hover .github {
  transform: translate(0);
  transition: transform .2s linear;
}



/* Blog styles */
.blog-intro {
  padding: 50px 0;
  text-align: center;
}


.blog-intro img {
  width: 35px;
}

.blog-intro em {
  font-size: 22px;
  color: #888;
  font-family: "Georgia", serif;
}


.blog-posts {
  margin: 0 0;
  padding-top: 50px;
  padding-bottom: 0;
}

.blog-post-container {
  padding: 30px 0;
}

.blog-post-meta {
  max-width: 600px;
  margin: 0 auto;
}

.blog-post-meta h2 {
  margin-top: 5px;
  margin-bottom: 0;
}

.blog-post-meta h2:hover {
  text-decoration: underline;
}

.blog-post-meta a {
  color: rgba(0, 0, 0, 0.6);
}

.blog-post-meta p {
}

.blog-post-meta:hover p {
  transition: transform .3s ease-in;
  transform: translate(10px)
}

.bg-alternate .blog-post-separator {
  width: 100px;
  height: 3px;
  background: #fff;
}


.blog-pagination {
  padding: 25px 0;
  text-align: center;
}

.blog-pagination ul li {
  display: inline-block;
  background: #fff;
  margin: 0 3px;
  padding: 5px 8px;
  border-radius: 3px;
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}


.blog-post-meta-info {
  padding: 50px 0;
  text-align: center;
}

.blog-post-meta-info h1 {
  margin-bottom: 0;
}

.blog-post-meta-info img {
  width: 35px;
}

.blog-post-meta-info p {
  color: #ccc;
}

.blog-post-desc {
  font-size: 19px;
  padding: 50px 0;
  text-align: center;
}

.blog-post-desc p {
  max-width: 750px;
  margin: 0 auto;
  line-height: 185%;
  font-family: "Georgia", serif;
}

.blog-post-content {
  padding: 30px 0;
}

.blog-post-content p {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 0;
  line-height: 150%;
  color: #666;
}

.code-container {
  margin: 15px 0;
  background: #272822;
}

.blog-post-content pre {
  max-width: 600px;
  margin: 0 auto;
}

.blog-post-links {
  display: flex;
  justify-content: space-between;
  padding: 30px 280px;
}

.blog-post-links a {
  color: #666;
}

.blog-post-links a:hover {
  text-decoration: underline;
}

footer {
  padding: 15px 30px;
  font-weight: 400;
  text-align: center;
}

footer img {
  max-width: 20px;
  margin-right: 5px;
}

footer small {
  position: relative;
  top: -5px;
}
